@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
  background-color: white
}

nav {
  background-image: url('night-light-black.jpeg');
}

.navbar-brand.store-name {
  color: white;
  font-family: fantasy;
}

.collapse.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
}

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 50px auto;
}

.shopping-cart {
  color: white
}

.page-header {
  background-image: url('http://globalblog.posco.com//wp-content/uploads/2017/02/POSCO_cover_watermark_1300x550_170307_1.jpg');
  margin: 0px auto;
  min-height: 600px;
  background-repeat: no-repeat;
}

.page-header .row {
  margin: 20px;
  padding: 100px
}

.page-header .title {
  color: blue
}

.col-md-4.product {
  padding: 30px
}

.product img {
  height: 200px;
  width: 200px
}

.product h3 {
  font-size: 24px
}

.single-product {
  margin-top: 10%
}

button {
  margin: 30px;
  border-radius: 10px;
  background-color: lightgray;
  border-color: black;
}

button:hover {
  background-color: lightsteelblue
}

.long-button {
  width: 150px
}

.short-button {
  width: 75px
}

thead {
  border: 3px solid black;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  padding: 5px
}

table {
  max-width: 50%;
  margin: 0px auto
}

.checkout table {
  text-align: center;
  margin: 0px auto;
}

.checkout td {
  min-width: 200px
}

.checkout img {
  width: 200px;
  height: 200px;
}

.homepage img {
  height: 300px;
  width: 300px;
}

.homepage .row {
  margin-top: 8%
}

.address {
  min-width: 175px
}

.select {
  min-width: 125px
}

.homepage h3 {
  color: blue
}

